[package]
name = "ember-server"
description = "Main server binary for ember"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "README.md"

[dependencies]
bytes = { workspace = true }
emberkv-core = { workspace = true }
ember-protocol = { workspace = true }
ember-persistence = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
clap = { workspace = true }
